opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Deepl Translation'
  scope: 'report'
  log_level: 'info'
  auto: true # Enable/disable auto-enrichment of observables

connector_deepl:
  api_key: 'ChangeMe'
  target_language: 'EN'
  max_tlp: "TLP:AMBER" # Available values: TLP:CLEAR, TLP:WHITE, TLP:GREEN, TLP:AMBER, TLP:AMBER+STRICT, TLP:RED
